/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

*{
	margin: 0px;
	padding: 0;
	border: 90px;
  vertical-align: baseline;
	font-size: 100%;
	font-family: 'Dela Gothic One', cursive;
  font-weight: bold;
  color: var(--colour2);
  box-sizing:border-box;
  
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
  margin: 0vw;
  line-height: 2;
  background-color: var(--colour4);
}
header{
  padding-right: 2%;
  height: 10vh;
  border-bottom: 2px solid black;
}
nav {
  display: flex;  
  justify-content: space-between; 
  align-items: center;
  height:5vh;
  font-size: 1.75vw;
  width: 100%;
  height: 100%;  
}

.logo{
  font-size: 2vw;
    text-transform: uppercase;
    padding-left: 0.75vw;
    padding-right: 0.75vw;
    border-right: 2px solid rgb(0, 0, 0);
    height: 100%;
    display: flex;
    align-items: center;
    background-color: azure;
}

.logo h5 {
  font-size: 1.15vw;
  color: #000000;
}

nav ul {
  list-style: none;
  margin: 0;            
  padding: 1vh;          
  display: flex;        
  gap: 5vh;  
  text-decoration: none;
  text-transform: uppercase; 
}

.nav-item {
  text-decoration: none;
  font-size: 2vw;
}

.project-style {
  text-decoration: none;
  color: white;
}

nav a:hover {
  color: var(--colour1);
  
}

#about{
  display: flex;
}
nav li{
  position: relative;
  margin: 0vh;
  padding: 0vh;
  margin-left: 70px;
}
.column-sub-top {
  display: grid;
  grid-template-rows:10%,20%,20%,20%;
  height: 90vh;
  border-bottom: 2px solid black;
}
.column-sub{
  display: grid;
  grid-template-rows:40%,20%,25%,25%;
  height: 100vh;
  border-bottom: 2px solid black;
}
.column-sub-bottom {
  display: grid;
  grid-template-rows:30%,20%,25%,25%;
  height: 30vh;
  border-bottom: 2px solid black;
}


.nav-container {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  height: 100%;
}


.title-section {
  width: 10.52%;
  display: flex;
  text-align: center;
  border-right: 2px solid black;
  color: var(--colour1);
}
.title-section-about-me{
  width:30%;
  color: var(--colour1);
}
.title-section h2{
  font-size: 2vw;
  margin:auto;
  transform: rotate(-90deg);
  text-transform: uppercase;
}

#about{
object-fit: contain;
}

#projects{
  object-fit: contain;
  display: flex;
}

#contact {
  display: flex;
}
 
#about .column-2 {
  width: 35%;
  height: 90vh;
}

#portfolio-image {
  width: 100%;
  height: 70%;
  object-fit: cover;
  margin-bottom: 0;
}
.profile {
  background-color:var(--colour2);
  margin-top: -12px;
  padding: 1.75vw;
  height: 30%;
  text-align: center;
 
}

.profile h3{
  font-size: 1.5vw;
  align-items: center;
  color: #000;
}

.column-3 {
  display: flex;
  width: 55%;
  
}
.column-4{
  text-align: center;
  align-items: center;
}
.column-4 h4{
font-weight: bolder;
font-size: 3vh;
}
.thank {
  width: 50%;
  background-color: var(--colour6);
  display: flex;
  padding: 2vw;
}


.skills {
  width: 50%;
  background-color: var(--colour4);
  display: flex;
  padding: 2vw;
}

.thank p {
  margin: auto;
  text-align: center;
  font-size: 1.25vw;
  color: white;
}

.skills p {
  margin: auto;
  text-align: center;
  font-size: 1.25vw;
}



.work-collection {
  width: 90%;
  display: flex;
  margin: auto;
  
}

.work-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 16px;
  padding-left: 2vw;
  padding-right: 2vw;
  overflow: hidden;
  
}

.grid-item {
  padding: 20px;
  font-size: 3vh;
  text-align: center;
  border: 2px solid #000000;
  background-color: var(--colour6);
}

.grid-item img{
  display: block;
  max-height: 40vh;
  max-width: 40vh;
  object-fit: scale-down 0.5%;
  transition: transform .2s;
  margin: 0 auto;
  overflow: hidden;
  
}
.grid-item img:hover{
  opacity: 0.5;
  transform: scale(1.1); 
}
.grid-item2{
  padding: 20px;
  font-size: 4vh;
  text-align: center; 
}
.grid-item2 a{
  text-decoration: none;
}
@media screen and (max-width: 992px) {
  .work-grid{
    grid-template-columns: repeat(2, 1fr); 
    overflow: visible;
  }
  .grid-item2{
    font-size: 2vh;
  }
  .column-sub-top {
    font-size: 2vh ;
  }
}
@media screen and (max-width: 600px) {
  .work-grid{
    grid-template-columns: (1);
    overflow: hidden;
  }
}

:root{
  --colour1: rgb(253, 67, 43);
  --colour2: #f1faee;
  --colour3: #a8dadc;
  --colour4:#28495e;
  --colour5:#244a7e;
  --colour6: rgba(142, 170, 208, 0.693);
  }
  